@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
}
.hero {
  background-image: url('./images/DSC09556.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000090;
}